@font-face {
    font-family:VarelaRound-Regular;
    src: url("../../packages/fonts/Varela_Round/VarelaRound-Regular.ttf");
}


/* ----------------------------------------------------------------------------------------------------משפט פתיחה------------------ */
#title-login>h1{
    margin-top: 22%;
    color:#00ffd3;
    text-align: center;
    font-size: 50px;
    font-family:VarelaRound-Regular;
    
}
#title-login>p{
    color:#ffffff;
    text-align: center;
    font-size: 20px;
    font-family:VarelaRound-Regular;
}
/* ---------------------------------------------------------------------------------------------------טופס------------------------------------ */

form>label{
    color: #ffffff;
    font-family:VarelaRound-Regular;
    font-size: 20px;
}

form>#radio-min>label{
    color: #ffffff;
    font-family:VarelaRound-Regular;
    font-size: 20px;
    width: 40%;
  
}
form>#radio-min{
     border: #00ffd3 solid 3px;
     padding-left: 16%;
     padding-right:16%;
     padding-top: 2%;
     padding-bottom: 2%;
     display: flex;
    flex-direction: row;
    gap: 7%;
}
form>h1{
    margin-top: 14%;
    color: #00ffd3;
    font-size: 40px;
    font-family:VarelaRound-Regular;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
form>input{
    background-color:transparent;
    color: #00ffd3;
    font-family:VarelaRound-Regular;
    font-size: 15px;
    width: 40%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #00ffd3;
}

form>select{
    background-color:black;
    color: #00ffd3;
    font-family:VarelaRound-Regular;
    font-size: 15px;
    width: 40%;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid #00ffd3;
}
form>#btns{
    display: flex;
    flex-direction: row;
    gap: 50%;
    margin-top: 5%;
    margin-left: 30%;
}
.btn , form>#btns>#finishRegistration{
    background-color: #000000;
    color: #00ffd3;
    font-family:VarelaRound-Regular;
    font-size: 20px;
    border-radius: 70px;
    padding: 5%;
    padding-left: 50%;
    padding-right:50%;
    cursor: pointer;
}
